<div [@routerTransition]>
  <app-page-header [heading]="'Entities' | translate" [icon]="'fa-address-sitemap'"></app-page-header>
  <div *ngIf="response && response.success">
    <agm-map [latitude]="initialLatitude" [longitude]="initialLongitude" [zoom]="initialZoom">
      <div *ngFor="let entity of response.mutuales">
        <agm-marker [latitude]="entity.latitud" [longitude]="entity.longitud">
          <agm-info-window>
            <strong>{{ entity.nombre }}</strong>
            <br />
            {{ entity.direccion }}
            <br />
            {{ entity.tipo }}
          </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>
  </div>

  <br />
  <div class="card-header">{{ 'Search form' | translate }}</div>
  <form role="form">
    <div class="form-content">
      <div class="form-group">
        <label class="form-control-label" for="inputName">{{ 'Name' | translate }}</label>
        <input type="text" class="form-control" id="inputName" name="inputName" [(ngModel)]="listRequest.name" />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="inputAddress">{{ 'Address' | translate }}</label>
        <input type="text" class="form-control" id="inputAddress" name="inputAddress" [(ngModel)]="listRequest.address" />
      </div>

      <div class="form-group">
        <label class="form-control-label" for="inputType">{{ 'Type' | translate }}</label>
        <input type="text" class="form-control" id="inputType" name="inputType" [(ngModel)]="listRequest.type" />
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="getItems()">{{ 'Search' | translate }}</button>
          <button class="btn btn-primary" type="button"(click)="clearForm()">{{ 'Clear' | translate }}</button>
        </div>
    </div>
  </form>

  <div class="card-body table-responsive">
    <div *ngIf="listResponse && listResponse.mutuales">
      <table class="card-body table table-hover table-bordered">
        <thead>
          <tr>
            <th>{{ 'Code' | translate }}</th>
            <th>{{ 'Name' | translate }}</th>
            <th>{{ 'Address' | translate }}</th>
            <th>{{ 'Type' | translate }}</th>
            <th>{{ 'City' | translate }}</th>
            <th>{{ 'Department' | translate }}</th>
            <th>{{ 'State' | translate }}</th>
            <th>{{ 'Actions' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let entity of listResponse.mutuales">
            <td>
              {{ entity.id }}
            </td>
            <td>
              {{ entity.nombre }}
            </td>

            <td>
              {{ entity.direccion }}
            </td>

            <td>
              {{ entity.tipo }}
            </td>
            
            <td>
              {{ entity.localidad.nombre }}
            </td>

            <td>
              {{ entity.localidad.departamento.nombre }}
            </td>

            <td>
              ENTRE RIOS
            </td>

            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" [routerLink]="['/entity-detail', entity.id]">{{ 'View Details' | translate }}</button>
                <!--button type="button" class="btn btn-secondary">{{ 'Update information' | translate }}</button-->
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <ngb-pagination
        size="lg"
        [collectionSize]="listResponse.cantidad"
        [pageSize]="10"
        [(page)]="page"
        [rotate]="true"
        (pageChange)="loadPage($event)"
        [boundaryLinks]="true"
      ></ngb-pagination>

      <div class="card-footer float-right">{{ 'Results quantity' | translate }}: {{ listResponse.cantidad }}</div>
    </div>
  </div>
</div>
